body,html{
	height:100%;
	width:100%;
	margin: 0;
}
#mainSection{
  background-image: url("../images/bg.jpg");
  background-repeat: repeat;
  background-size: contain;
  height:90%;
}

#container{
	padding-top:100px;
	height:100%;
	background:white;
	background-color: rgba(255,255,255,0.8);
}

.right {
  width: 70%;
  height: 100%;
  background: red;
  display: inline-block;
}

#a{
    width : 30%;
    background-color : black;
    float: left;
}
#b{
    width : 30%;
    background-color : orange;  
}
#c{
    width : 70%;
    background-color : green;
    float : right;
} 

/*
 * ------------Off Canvas--------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -40%;
  }

  .row-offcanvas-left.active {
    left: 40%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 40%;
    margin-left: 12px;
  }
}

#sidebar {
    padding:15px;
    margin-top:20px;
}